$palettes: (
    blue: (
        base :  rgb(33,150,243),
        light:  rgb(187,222,251),
        dark :  rgb(25,118,210)
    ),
    red: (
        base : rgb(244,67,54),
        light: rgb(255,205,210),
        dark : rgb(211,47,47)
    )
);