@import "colorpalettes";

/**
 * Page definitions
 */
$page-maxwidth: 1200px !default;


/**
 * Color Definitions
 */
$color-primary: palette(blue);
$color-primary-light: palette(blue, light);
$color-primary-dark: palette(blue, dark);
$color-primary-text: #212121;

$color-accent: palette(blue);
$color-secondary-text: #727272;
$color-icons: #ffffff;
