/**
 * Load fonts and assign variables
 */

$mdi-font-path: "fonts";

@import url("//fonts.googleapis.com/css?family=Open+Sans:400,600,600italic");

$font-text: 400 100% "Open Sans";
$font-text-bold: 600 100% "Open Sans", Helvetica, Arial sans-serif;
$font-headline: 600 100% "Open Sans", Helvetica, Arial sans-serif;
$font-headline-italic: italic 600 100% "Open Sans", Helvetica, Arial sans-serif;
$font-icons: 100% "Material Design Icons";

/**
 * Default Page Elements
 */

body {
  color: $color-primary-text;
  font: $font-text;
  @include font-size(15px,24px);
}

strong, b {
  font: $font-text-bold;
}

p {
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font: $font-headline;
}

h1 {
  @include font-size(30px,48px);
}

h2 {
  @include font-size(25px,36px);
}

h3 {
  font: $font-headline-italic;
  @include font-size(21px,28px);
}

h4 {
  @include font-size(17px,24px);
}